<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>donor</filter-name>
        <filter-class>DataBase.donor</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>donor</filter-name>
        <url-pattern>/donor.jsp</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>register</servlet-name>
        <servlet-class>DataBase.register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>signIn</servlet-name>
        <servlet-class>DataBase.signIn</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminSignIn</servlet-name>
        <servlet-class>DataBase.adminSignIn</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addFood</servlet-name>
        <servlet-class>DataBase.addFood</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>add</servlet-name>
        <servlet-class>DataBase.add</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addRequest</servlet-name>
        <servlet-class>DataBase.addRequest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteFood</servlet-name>
        <servlet-class>DataBase.deleteFood</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>rejectReq</servlet-name>
        <servlet-class>DataBase.rejectReq</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>acceptReq</servlet-name>
        <servlet-class>DataBase.acceptReq</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteAcc</servlet-name>
        <servlet-class>DataBase.deleteAcc</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>register</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>signIn</servlet-name>
        <url-pattern>/signIn</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminSignIn</servlet-name>
        <url-pattern>/adminSignIn</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addFood</servlet-name>
        <url-pattern>/addFood</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>add</servlet-name>
        <url-pattern>/add</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addRequest</servlet-name>
        <url-pattern>/addRequest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteFood</servlet-name>
        <url-pattern>/deleteFood</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>rejectReq</servlet-name>
        <url-pattern>/rejectReq</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>acceptReq</servlet-name>
        <url-pattern>/acceptReq</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteAcc</servlet-name>
        <url-pattern>/deleteAcc</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
